body {
    font-family: 'Roboto', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #151b29;
}

button {
    padding: 1em 2em;
    font-size: 1em;
    background-color: #151b29;
    border: 3px solid #ffa260;
    color: #ffa260;
    transition-duration: 0.2s;
}

button:hover {
    border-color: #f1ff5c;
    color: white;
    transform: translateY(-4px);
    box-shadow: 0 0.5em 0.5em -0.4em #f1ff5c;
    cursor: pointer;
}